<div class="navbar-cart  collapse">
    <div class="cartMenu  col-lg-4 col-xs-12 col-md-4 ">
        <div class="miniCartFooter  miniCartFooterInMobile text-right">
            <h3 class="text-right subtotal">{{'_subtotal'|trans}}: 0.00 <b>€</b></h3>
            <a class="btn btn-sm btn-danger" href="{{ path('_front_mycart') }}"> {{ faIco('shopping-cart') }} {{'_view_shopping_cart'|trans}} </a>
        </div>
    </div>
</div>